* {
    margin: 0;
    padding: 0;
  }


  .website-title {
    background-color: bisque;
    display: inline;
  }

/*apply styles to <body>*/
body {

    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
  }

/* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color: #13bb59;
  }


  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin: 0;
  }

  header a {
    text-decoration: underline;
    color: bisque;
  }

  header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 25px;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin: 0;
    display: inline;
  }

  section {
    padding: 60px;
  }

/*Hero Style Start*/

  
.hero {
    background-image: url("../images/FullSizeRender.jpg");
    height: 320px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative; 
    color: bisque;
  }

  .hero h2 {
    text-align: left;
  }
  /* Hero Style End * position;relative might not be right*/

/*about me style start*/
  .about-me {
    text-align: center;
    background-color: bisque;
  }
  
  .about-me h2 {
    font-size: 55px;
    color: #000000;
    margin-bottom: 35px;
    padding: 0 100px 20px 100]px;
    border-bottom: 3px solid;
    border-color: #13bb59;
    display: inline-block;
  }

  .about-me p {
    line-height: 1.5;
    color: #000000;
    width: 80%;
    font-size: 25px;
    margin: 0 auto;
  }
/*about me style ends*/

/*work style starts*/
.work { 
    text-align: left;
    background: bisque;
  }

  .work h2 {
    font-size: 55px;
    color: #000000;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #13bb59;
  }

  .work p {
    font-size: 25px;
  }

  /*work style ends*/

/*contact me style starts*/
  
  .contact-information {
    background-color:  bisque;
    text-align: left;
  
  }

  .contact-information h2{
    font-size: 55px;
    color: #000000;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #13bb59;

  }

  .contact-information nav ul li {
    display: inline;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 25px;
    

  
/*contact me style ends*/
  